#discover {
  background: $color-dark;
  padding-bottom: $base-size * 5;
  font-family: $font-header;
  padding-top: $base-size * 8;
  text-align: center;  
}

.discover-title {
  font-size: 60px;
  font-weight: $font-semibold;
  color: $color-light;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.discover-subtitle {
  font-size: 30px;
  color: $color-white;
  font-weight: $font-semibold;
  letter-spacing: 8px;
  margin: 50px auto;
}

.players-discover-wrapper {
  background: $color-dark;
  display: flex;
  flex-direction: column;
  width: 580px;
  color: white;
  margin: 0 auto;
  padding-top: $base-size;    
}

.hide {
  display: none;
}