*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-header;
  line-height: 1.7;
  color: $color-dark;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}