*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-header;
  line-height: 1.7; 
}

.row {
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.green-audio-player .slider .gap-progress .pin {
  background-color: #d61818;
}

footer {
  background-color: $color-dark;
  font-size: 20px;
  font-weight: $font-regular;
  color: $color-white;
  padding: $base-size 0;
  text-align: center;

  p {
    margin: 0 auto;
  }
}

.player {
  width: 580px;
  margin: 0 auto; 
}

.song-author-title {
  h3{    
    font-size: $base-size * 2.5;
    font-weight: $font-regular;
    color: $color-white;
    text-align: center;
  }
}

.player-description {
  width: 580px;
  margin-top: $base-size * 2;
  display: inline-flex;

  h4 {
    font-size: 20px;
    font-weight: $font-regular;
    color: $color-light;
  }
}

.categories {
  list-style: none;
  display: flex;
  padding: 0;
} 

.ranking {
  text-align: end;
  color: $color-light;
}

.hide {
  display: none;
}