*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-header;
  line-height: 1.7;
  color: $color-dark;
}

.row {
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  // padding: 0 20px;
}


.green-audio-player .slider .gap-progress .pin {
  background-color: #d61818;
}
