#home-id {
  background: $color-dark;
  padding-bottom: $base-size * 10;
}

/* Audio players section */

.players-wrapper-home {
  background: $color-dark;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin: 0 auto;
  padding-top: $base-size * 9;    
}

/* Subscribe section */

.subscribe-section {
  background-image: url("../images/subscribe.jpg");
  height: 120vh;
  position: relative;
  background-size: cover;
  background-position: center center;
}


.subscribe-title {
  @extend .h2;  
  margin-top: $base-size * -7;
  font-weight: $font-semibold;
  color: $color-white;
  font-size: 100px;
  position: absolute;
  letter-spacing: $base-size;
  left: 25%;

  .bold-now {
    font-weight: $font-black;
    padding: $base-size * 3;
  }
} 

.subscribe-container {
  position: relative;
  height: 60vh;
  top: 15%;

  padding-bottom: 100px;
}

.btn-container {
  padding-top: $base-size * 36;
  padding-right: $base-size * 1.5;
}

.btn { 
  font-family: $font-header;
  font-size: 40px;
  font-weight: $font-bold;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-main;
  padding: 25px 20px;
  border-radius: 8px;
  letter-spacing: 8px;
}


.artist {
  margin: 0 auto;
  color: $color-white;
  font-family: $font-header;
  font-weight: $font-black;
  font-size: 100px;
  position: absolute;
  top: 60%;
  padding-left: $base-size * 4;
  z-index: 3;
  letter-spacing: $base-size * 2;
  line-height: 1;
}

.artist-last-name {
  position: absolute;
  padding-left: $base-size * 6;
}

.son {
  color: $color-main;
}

.artist-image {
  padding-left: $base-size * 30;
  padding-top: $base-size * 3;
  // position: absolute;  
  // z-index: 2;
  // left: 43%;
  // top: -5%;
  // padding-bottom: $base-size * 10;
  img {
    height: 578px;
    width: 465px;    
  }
}

.album-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  // position: absolute;
  font-size: 40px;
  top: 130%;
  left: 10%;
  letter-spacing: $base-size;
  
  h2 {
    font-weight: $font-bold;
    color: $color-light;
  }

  p {
    font-weight: $font-semibold;
    color: $color-white;    
  }
}

/* Media queries */

@media (max-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 991px;
  }

  .subscribe-title{
    font-size: $base-size * 4;
    position: relative;
    // text-align: center;
    margin: 0 auto;
  }

  .artist-image {
    img {
      width: 50%;
      height: 50%;
    }
  }


}