#search-list {
  background: $color-dark;
  padding-bottom: $base-size * 5;
  color: $color-white;
  font-family: $font-header;
  padding-top: $base-size * 4;
}

.search-info {
  align-items: center;
  justify-content: space-between;
}

.search-title {
  font-size: $base-size * 5;
  font-weight: $font-semibold;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  margin-top: 0;
}

label {
  font-size: 30px;
  font-weight: $font-semibold;
  color: $color-light;
  text-align: end;
  letter-spacing: 8px;  
}

.search-input {
  background: $color-white;
  width: 350px;
  height: 60px;
  border-radius: 8px;
  border: none;
  margin: 40px 20px;
  font-size: 20px;
}

.name-search {
  text-align: end;
}

select {
  background: $color-white;
  width: 350px;
  height: 60px;
  border-radius: 8px;
  border: none;
  margin: 40px 20px;
  font-size: 20px;
  text-align: center;
}

.search-btn-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: $base-size * 4;
}

.btn-search { 
  font-family: $font-header;
  font-size: 20px;
  font-weight: $font-semibold;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-main;
  padding: 17px 10px;
  border-radius: 8px;
  letter-spacing: 4px; 
}

.result {
  margin: 0 auto;
  text-align: center;
  font-weight: $font-semibold;
  font-size: 30px;
}

.hide {
  display: none;
}
  
@media (max-width: 768px) and (max-width: 991px) {
  .search-info {
    text-align: center;
  }

  .name-search {
    text-align: center;
  }
}